@import "tailwindcss";

html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(20, 20, 20);
	color: rgba(255, 255, 255, 0.886);
}

@layer utilities {
	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
	.animate-blink {
		animation: blink 1s step-end infinite;
	}

	@keyframes Loading {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(250%);
		}
	}
	.animate-loading-bar {
		animation: Loading 1s ease infinite;
	}
}
.reval {
	opacity: 0;
	transform: translateY(20px);
	transition:
		opacity 0.7s ease,
		transform 0.7s ease;
}
.reval.visible {
	opacity: 1;
	transform: translateY(0);
}
